@tailwind base;
@tailwind components;
@tailwind utilities;

/* .skills__text {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(37, 145, 251, 0.98) 0.1%,
    rgba(0, 7, 128, 1) 99.8%
  );
  font-weight: 700;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

@layer components {
  .skills__text {
    @apply bg-yellow-200 w-fit;
  }

  .contactInput {
    @apply outline-none w-full md:w-[300px] bg-slate-100 rounded-sm border-b px-4 py-4 border-white text-gray-800 placeholder-gray-800;
  }
}
